*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 18px;
}
h1{
    font-size: 36px;
    font-weight: 200 !important;
}
nav{
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #fff !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #999966;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    transition: all 0.3 ease;
}
nav ul li a.active,
nav ul li a:hover{
    border-color: #999966;
    color: #999966;
}
nav .menu-btn i{
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}
nav{
    display: flex;
    max-height: 120px;
    max-width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
.list-item ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.list-item ul li{
    margin: 0 19px;
}
.list-item ul li a{
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    color: #000;
}
.carousel-item img{
    width: 100%;
}
.about_heading{
    padding-top: 20px;
}
.para_about p{
    margin: 10px;
}
.para_about span{
    color: #999999;
}

.heading_text_span {
    display: block;
}
.about_heading span{
    font-weight: 100;
}
.para_vision{
    padding: 10px !important;
}
.footer{
    background-color: #cccccc;
    padding: 50px;
}
.footer h1{
    padding: 15px;
    font-size: 22px;
    font-weight: 300;
    
}
.icon a{
    padding: 5px;
}
.mob_head {
    margin-top: 20px;
}

.list-item ul li a{
    padding-left: 79px;
}

.icon a .bi{
     width: 60px;
     height: 60px;
     border: 2px solid #000;
     border-radius: 50%;
     padding: 10px;
     text-align: center;
     color: #000;
}
.footer .list-item ul li a{
    font-size: 16px !important;

}
.footer h2{
    font-size: 16px;
    font-weight: 500;
}

.footer_icon a .bi{
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    color: #000;
    bottom: 50px;
}
.footer_icon{
    position: fixed;
    float: right;
    right: 10px;
    bottom: 20px;
    z-index: 1000;
}

















@media (max-width:1000px){
    nav{
        padding: 0 40px 0px 50px;
    }
}
@media (max-width:920px){
    nav .menu-btn i{
        display: block;
    }
    #click:Checked ~ .menu-btn i:before{
        content: '\f00d';
        color: #999966 !important;
    }




    nav ul{
        position: fixed;
        top: 100px;
        left: -100%;
        background: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        z-index: 10;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0px;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
}
.carousel-control-prev {
    left: 10px;
}




